.banner_title
{
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
    font-size: 250%;
    text-align: center;
    color: black;
    border-style:solid;

}
img
{
    border-radius:10px;
    border-style:solid;
    width:60%;
    height:60%;

    text-align: center;
    margin:auto;
    display: flex;
}
h1
{
    color: black;
    margin-left: 1%;
}
h2
{
    color: black;
    margin-left: 5%;
    font-style:underlined;
}
h3
{
    margin-left:2%;
    color: black;
}
h4
{
    margin-left:5%;
    margin-right: 5%;
    color: black;

}
.h
{
 color: red;
}
.item
{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background-color:rgb(205, 203, 203)
}
.method
{
    color:rgb(116, 168, 37);
}
.var
{
    color:darkblue;
}
.classDoc
{
    background-color:rgb(233, 231, 231)
}