@font-face {
    font-family: 'neuton';
    src: url('res/Neuton-Regular.ttf');
}
@font-face {
    font-family: 'xperiment';
    src: url('res/XperimentypoThreeSquare.ttf');
}

.banner_title
{
    color : #4a494d;
    font-size: 300%;
    text-align: center;
    background-color: #FF665A;
    border-width: 80%;
    border-color: #4a494d;
    border-style: dashed;
    border-radius: 10px;
    font-family: 'xperiment';
}

.category
{
    background-color: #FF8C64;
    border-width: 5px;
    border-style:double;
    border-radius: 10px;
    border-color: #4a494d;
    block-size: 150%;
    padding: 2%;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom:2%;
    font-family: 'neuton';

}
.category:hover
{
    background-color: #fff587;
    border-width: 10px;
    block-size: 120%;
    padding:4%;
}

.category_title
{
    color : #4a494d;
    font-size: 200%;
    font-style: bold;
    text-align: center;
}
.category_description
{
    color : #4a494d;
    font-size: 120%;
    font-style: normal;
    padding-left: 3%;
}
body
{
background-color: #332933;    
}
