@font-face {
    font-family: 'neuton';
    src: url('../res/Neuton-Regular.ttf');
}
@font-face {
    font-family: 'xperiment';
    src: url('../res/XperimentypoThreeSquare.ttf');
}

.banner_title
{
    color : #4a494d;
    font-size: 300%;
    text-align: center;
    background-color: #FF665A;
    border-width: 80%;
    border-color: #4a494d;
    border-style: dashed;
    border-radius: 10px;
    font-family: 'xperiment';
}
.spriteEngine
{
    background-color: #FF8C64;
    border-width: 5px;
    border-style:double;
    border-radius: 10px;
    border-color: #4a494d;
    font-family: 'neuton';

    tab-size: 20%;
    width: 40%;
    height: 40%;

    
    text-align: center;
    margin:auto;
    display: flex;
   

}
.spriteEngine:hover
{
    width: 45%;
    height: 45%;
}
body
{
background-color: #332933;    
}
.back{
    width:5%;
    height:5%;

    text-align: left;
    margin-left: 2%;
}
